body {
    font-family: 'Poppins';
    background-color: #FFF;
}

.card {
    height: 500px;
    width: 500px;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    margin-top: 8%;
}

.content {
    padding-top: 23%;
}

#btn {
    background: #ddd6f3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    font-weight: 600;
    color: #413839;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#btn:hover {
    transition-duration: 0.4s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#copyBtn {
    background: #FFF;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}